<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150848204218-e17ifsrqjrset7p1u0sv5n5jn2aev6vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150848204218-e17ifsrqjrset7p1u0sv5n5jn2aev6vk</string>
	<key>API_KEY</key>
	<string>AIzaSyAm3lVYQVXhV37xIqpV6gX-GaRQjsNpVEE</string>
	<key>GCM_SENDER_ID</key>
	<string>150848204218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geekdoctor</string>
	<key>PROJECT_ID</key>
	<string>geek-doctor-2dd82</string>
	<key>STORAGE_BUCKET</key>
	<string>geek-doctor-2dd82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150848204218:ios:cc7a87f111e5cebf68c183</string>
</dict>
</plist>